*{
  margin: 0;
  padding: 0;
}
.container{
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}
.row{
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 48px;
}
.card{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title{
  max-height: 150px;
}
.card-title img{
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  object-position: center;
}
.card-body{
  padding: 32px 15px;
}
.card-list{
  margin-top: 16px;
}
.card-list li{
  margin-top: 8px;
}
.card-list span{
  color: gray;
}
ul, ol{
  list-style: none;
}
.search-container{
  margin: 48px 0;
}
.search-input{
  padding: 1.4em 1.4em;
  width: 96%;
  font-size: 18px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}