*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
nav{
  width: 100%;
  height: 60%;
  padding: 10px;
  background: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select{
  padding: 5px;
  outline: none;
  font-size: 1.2rem;
  margin: 10px;
  width: 320px;
  border-radius: 5px;
}
h2{
  color: white;
  text-align: center;
  font-size: 1.3rem;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content div{
  width: 300px;
  height: 350px;
  margin: 20px 15px;
  background: #333;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}