body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  color: #515151;
  background: linear-gradient(45deg, #185aad, #43c2a2);
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section{
  margin-top: 7%;
}
.card{
  width: 500px;
  box-shadow: 0 10px 0 #515154;
}
.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: orange;
  height: 10vh;
  padding: 20px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.weather h1{
  margin: 0;
  font-size: 3em;
}
.location{
  color: #fff;
}
.city{
  margin: 0;
  font-size: 2em;
}
.state{
  margin-top: 0;
}
.info{
  display: flex;
  background-color: #fff;
}
.info *{
  padding: 20px;
  flex: 1;
  border-right: 1px solid #e6e6e6;
}