.App{
  padding: 4rem;
  background: #121312;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  margin: 2rem 2rem 0;
  padding: 2rem;
  width: 250px;
  height: 250px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
}
.card-image{
  display: flex;
  justify-content: center;
}
.card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card-title{
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
  margin: 1.5rem;
}
h1{
  text-align: center;
  color: #fff;
}
.pagination-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.page-btn{
  width: 2rem;
  height: 2rem;
  background: lightblue;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}
.active-btn{
  background-color: orange;
  color: #fff;
}